.category {
	display: flex;
	flex-direction: column;
}
.category__title {
	font-size: 38px;
	margin: 0 auto 30px;
}

.category__items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 10px;
}
.category__items .collection-item {
	margin-bottom: 30px;
}
