.sign-in-and-sign-up {
	display: grid;
	width: 1200px;
	max-width: 100%;
	margin: auto;
	grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 768px) {
	.sign-in-and-sign-up {
		grid-template-columns: repeat(1, 1fr);
	}
}
